/* -- GERAL -- */

body {
    margin: 0;
}

.imgDeFundo {
    background-image: url(../assets/StockCake-Global\ Digital\ Education_1724004042\ 2.svg);
    background-repeat: no-repeat;
    background-position-y: -55px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 655px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Rubik';
}

/* -- HEADER -- */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header {
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    width: 100px;
    height: 80px;
    margin-top: 12px;
    margin-left: 50px;
}

.logo:hover {
    cursor: pointer;
}

.imgLogo {
    width: 220px;
}

.navBar {
    width: 450px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 120px;
}

.textoNavBar {
    height: 20px;
    color: #FFF;
    font-size: 18px;
}

a{
    text-decoration: none;
}

.textoNavBar:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.6s;
}

.loginCadastro {
    width: 290px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.btnLogin {
    width: 100px;
    height: 40px;
    background-color: #00000000;
    border-color: #ffffffae;
    border-radius: 30px;
    color: #FFF;
    font-size: 18px;
    transition: all 0.5s;
}

.btnLogin:hover {
    background-color: #FFF;
    color: #000;
    transform: scale(1.2);
    border-color: #00000000;
    transition: all 0.5s;
    cursor: pointer;
}

.btnCadastro{
    width: 115px;
    height: 40px;
    background-color: #00000000;
    border-color: #ffffffae;
    border-radius: 30px;
    color: #FFF;
    font-size: 18px;
    transition: all 0.5s;
}

.btnCadastro:hover{
    background-color: #FFF;
    transform: scale(1.2);
    color: #000;
    border-color: #00000000;
    transition: all 0.5s;
    cursor: pointer;  
}

.textoCadastro {
    color: #FFF;
    font-size: 18px;
}

.textoCadastro:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.4s;
}

.texto {
    color: #FFF;
    font-size: 18px;
}

/* -- BANNER -- */

.banner {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.tituloBanner {
    color: #FFF;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    border-bottom: 30px;
    line-height: 55px;
}

.textoBanner {
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.btnSaibaMais {
    width: 180px;
    height: 43px;
    border-radius: 35px;
    background-color: #0598CE;
    border-color: #0598ce00;
    color: #FFF;
    font-size: 18px;
    margin-top: 30px;
}

.btnSaibaMais:hover {
    background-color: #005f81;
    border-color: #005f8100;
    cursor: pointer;
    transition: all 0.4s;
}

/* -- PRINCIPAL -- */

.corpoDescubraMais {
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerTextoDescubraMais {
    background-color: #113768;
    height: 600px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.textoDescubraMais {
    height: 170px;
    width: 400px;
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.5px;
}

.descubraMais {
    width: 180px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 220px;
}

.txtDescubraMais {
    width: 160px;
    height: 25px;
    color: #FFF;
    font-size: 18px;
    font-weight: 550;
}

.setaDescubraMais {
    width: 50px;
    height: 20px;
    background-image: url(../assets/Arrow\ 75.svg);
    background-repeat: no-repeat;
}

.setaDescubraMais:hover {
    cursor: pointer;
}

.tituloDescubraMais {
    color: #FFF;
    font-size: 28px;
    font-weight: 550;
    width: 400px;
}

.imgDescubraMais {
    height: 450px;
    width: 600px;
    background-image: url(../assets/image\ 7.svg);
    background-size: cover;
}

.quemSomos {
    height: 540px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.textoQuemSomos {
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tituloQuemSomos {
    background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 38px;
    font-weight: 550;
    margin-top: 30px;
}

.txtQuemSomos {
    line-height: 25px;
    font-size: 18px;
    margin-top: 30px;
}

.imgQuemSomos {
    height: 350px;
    width: 600px;
    background-image: url(../assets/image\ 9.svg);
    background-size: cover;
}

.nossosValores {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tituloNossosValores{
    color: #068EC2;background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;font-size: 38px;
    font-weight: 550;
    margin-top: 90px;
}

.txtNossosValores {
    line-height: 25px;
    font-size: 18px;
    margin-top: 30px;
}

.imgNossosValores {
    height: 350px;
    width: 600px;
    background-image: url(../assets/image\ 10.svg);
    background-size: cover;
}

.textoNossosValores {
    background-color: #FFF;
    height: 400px;
    width: 600px;
}

.contato {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloContato {
    background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 550;
}

.textoContato {
    line-height: 25px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.formulario {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
}

.infoContato {
    background-color: #113768;
    height: 480px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileiraCima {
    width: 600px;
    height: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgEmail {
    width: 40px;
    height: 40px;
    background-image: url(../assets/mail.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoEmail {
    width: 220px;
    height: 20px;
    color: #FFF;
    margin-left: 10px;
}

.telefone {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}

.imgTelefone {
    width: 40px;
    height: 40px;
    background-image: url(../assets/call.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoTelefone {
    width: 220px;
    height: 20px;
    color: #FFF;
    margin-left: 10px;
}

.fileiraBaixo {
    width: 600px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.localizacao {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgLocalizacao {
    width: 40px;
    height: 40px;
    background-image: url(../assets/location_on.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoLocalizacao {
    width: 220px;
    height: 55px;
    line-height: 20px;
    color: #FFF;
    margin-left: 10px;
}

.numero {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}

.imgNumero {
    width: 40px;
    height: 40px;
    background-image: url(../assets/zap.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textoNumero {
    width: 220px;
    height: 20px;
    color: #FFF;
    margin-left: 10px;
}

.redesSocias {
    width: 600px;
    height: 100px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tituloRedesSocias {
    color: #FFF;
    font-size: 30px;
}

.imagens {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.imgRedeSocialLkdin {
    width: 43px;
    height: 43px;
    background-image: url(../assets/PikPng.com_linkedin-logo-png_598156\ 1.svg);
    background-size: cover;
    transition: all 0.4s;
}

.imgRedeSocialLkdin:hover {
    cursor: pointer;
    width: 46px;
    height: 46px;
    transition: all 0.4s;
}

.imgRedeSocialInsta {
    width: 43px;
    height: 43px;
    background-image: url(../assets/insta.svg);
    background-size: cover;
    transition: all 0.4s;
}

.imgRedeSocialInsta:hover {
    cursor: pointer;
    width: 46px;
    height: 46px;
    transition: all 0.4s;
}


.imgRedeSocialX {
    width: 43px;
    height: 43px;
    background-image: url(../assets/PikPng.com_twitter-png-logo_1011861\ 1.svg);
    background-size: cover;
    transition: all 0.4s;
}

.imgRedeSocialX:hover {
    cursor: pointer;
    width: 46px;
    height: 46px;
    transition: all 0.4s;
}

.imgRedeSocialFace {
    width: 43px;
    height: 43px;
    background-image: url(../assets/facebook.svg);
    background-size: cover;
    transition: all 0.4s;
}

.imgRedeSocialFace:hover {
    cursor: pointer;
    width: 46px;
    height: 46px;
    transition: all 0.4s;
}

.imgRedeSocialGit {
    width: 48px;
    height: 48px;
    background-image: url(../assets/fa6-brands_square-github.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s;
}

.imgRedeSocialGit:hover {
    cursor: pointer;
    width: 51px;
    height: 51px;
    transition: all 0.4s;
}

.formularioContato {
    width: 600px;
    height: 600px;
    background-color: #F1F4F5;
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2), 
    0 8px 16px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.tituloFormulario {
    width: 450px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 550;
}

.tituloInput {
    font-size: 17px;
    font-weight: 300;
}

.nome {
    width: 450px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.primeiroNome {
    width: 225px;
    height: 60px;
}

.inputNome {
    width: 210px;
    height: 25px;
    border:solid 1px #000;
}

.sobrenome {
    width: 225px;
    height: 60px;
}

.emailFormulario {
    width: 450px;
    height: 60px;
}

.inputPadrao {
    width: 440px;
    height: 25px;
    border:solid 1px #000;
    font-family: 'Rubik';
}

.nomeEscola {
    width: 450px;
    height: 60px;
}

.mensagem {
    width: 450px;
    height: 150px;
}

.inputMensagem {
    width: 450px;
    height: 135px;
    text-align: center;
    border:solid 1px #000;
    font-family: 'Rubik';
}

.btnFormulario {
    background-color: #113768;
    border: solid 0.5px #000;
    color: #FFF;
    font-size: 18px;
    width: 120px;
    height: 35px;
    font-family: 'Rubik';
}

.btnFormulario:hover {
    cursor: pointer;
    background-color: #0f5ec5;
    transition: all 0.4s;
}

.faixa {
    background-color: #113768;
    height: 480px;
    width: 160px;
}

/* -- FOOTER -- */

.footer {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.navBarFooter {
    background-color: #1E1E1E;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textoNavBarFooter {
    height: 20px;
    color: #FFF;
    font-size: 14px;
}

.textoNavBarFooter:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.4s;
}

.btnLoginFooter {
    width: 100px;
    height: 40px;
    background-color: #00000000;
    color: #FFF;
    font-size: 14px;
    border-color: #00000000;
}

.btnLoginFooter:hover {
    transition: all 0.4s;
    cursor: pointer;
    text-decoration: underline;
}

.textoCadastroFooter {
    color: #FFF;
    font-size: 14px;
    margin-right: 25px;
}

.textoCadastroFooter:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.4s;
}

.tradeMark {
    background-color: #2B2B2B;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoTrademark {
    color: #FFF;
    font-size: 11px;
}

/* -- SOBRE A EDU TECH -- */

.imgDeFundoSobre {
    background-image: url(../assets/StockCake-Data\ Monitoring\ Team_1724620214\ 1.svg);
    background-repeat: no-repeat;
    background-position-y: -55px;
    background-size: cover;
    height: 400px;
}

.tituloBannerSobre {
    color: #FFF;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    margin-top: 200px;
}

.sobreEduTech {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloSobreEduTech {
    width: 430px;
    height: 60px;
    margin-left: 125px;
    font-size: 30px;
    background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textoSobreEduTech {
    width: 1050px;
    height: 170px;
    margin-left: 125px;
    font-size: 18px;
    line-height: 33px;
}

.imgSobreEduTech {
    height: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.classroomLearning {
    background-image: url(../assets/StockCake-Classroom\ Learning\ Session_1724622032\ 1.svg);
    background-size: cover; 
    width: 1000px;
    height: 310px;
}

.nossosProjetos {
    width: 100%;
    height: 1050px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textoProjetos {
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tituloProjetos {
    width: 350px;
    height: 50px;
    background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 450;
    margin-left: 40px;
}

.tituloAnalise {
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: 650;
    margin-left: 40px;
}

.textoNossosProjetos {
    width: 500px;
    height: 300px;
    font-size: 18px;
    line-height: 35px;
    margin-left: 40px;
}

.botaoParticipar {
    width: 178px;
    height: 50px;
    background-color: #0F93C3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    transition: all 0.2s;
    margin-left: 40px;
}

.botaoParticipar:hover {
    cursor: pointer;
    width: 184px;
    height: 53px;
    transition: all 0.2s;
}

.btnParticipar {
    width: 115px;
    height: 22px;
    background-color: #0F93C3;
    color: #FFF;
    font-size: 23PX;
    font-weight: 450;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta {
    width: 35px;
    height: 15px;
    background-color: #0F93C3;
    background-image: url(../assets/Arrow\ 75.svg);
    background-repeat: no-repeat;
    margin-top: 3px;
}

.imgProjetos {
    height: 550px;
    width: 500px;
    background-image: url(../assets/Visual\ data-bro\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 65px;
}

.nossaEquipe {
    font-size: 30px;
    font-weight: 550;
    background: linear-gradient(45deg, #068EC2, #03435C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 125px;
}

.fileiraCimaNossaEquipe {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.fileiraBaixoNossaEquipe {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.cardFoto {
    height: 350px;
    width: 250px;
    background: linear-gradient(to bottom, #0790C2, #113768);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.contatos {
    width: 200px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nomeEquipe {
    width: 200px;
    height: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoAnthony {
    width: 200px;
    height: 200px;
    background-image: url(../assets/ftoAnthony.svg);
    background-size: cover;
}

.fotoBrenno {
    width: 200px;
    height: 200px;
    background-color: fuchsia;
    background-size: cover;
}

.fotoErick {
    width: 200px;
    height: 200px;
    background-image: url(../assets/ftoErick.svg);
    background-size: cover;
}

.fotoJuliana {
    width: 200px;
    height: 200px;
    background-image: url(../assets/ftoJuliana.svg);
    background-size: cover;
}

.fotoSamuel {
    width: 200px;
    height: 200px;
    background-color: fuchsia;
    background-size: cover;
}

.fotoYasmin {
    width: 200px;
    height: 200px;
    background-image: url(../assets/ftoYasmin.svg);
    background-size: cover;
}

.containerContato {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entreEmContato {
    width: 300px;
    height: 50px;
    background-color: #0F93C3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: all 0.2s;
}

.entreEmContato:hover {
    cursor: pointer;
    width: 315px;
    height: 58px;
    transition: all 0.2s;
}

.btnContato {
    width: 230px;
    height: 45px;
    color: #FFF;
    font-size: 18px;
    font-weight: 450;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

a {
    text-decoration: none;
}

/* -- LOGIN & CADASTRO -- */

.bodyCadastro {
    display: flex;
    flex-direction: row;
}

.containerInput {
    background-color: red;
    width: 50%;
    height: 567px;
}

.containerLogo {
    background: linear-gradient(to bottom, #0790C2, #081F45);
    width: 50%;
    height: 567px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLogin {
    width: 514px;
    height: 319px;
    background-image: url(../assets/a\ 1logo-Educare.svg);
    background-size: contain;
    background-repeat: no-repeat;
}