/* -- GERAL -- */

body {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    margin: 0;
    height: 150vh;
}

/* -- MENU LATERAL --  */

.menuLateral {
    width: 230px;
    height: 100vh;
    background: linear-gradient(to bottom, #0790C2, #113768);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    overflow: auto; 
}

.logoEduTech {
    width: 180px;
    height: 88px;
    background-image: url(../../assets/EduTechWhite1\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
}   

.navegacaoTitulo {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 1.2vw;
}

.containerNavegacao {
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fileiraNavegacao {
    width: 230px;
    height: 43px;
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fileiraSelecionada {
    width: 230px;
    height: 43px;
    background-color: #00b7ff;
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fileiraNavegacao:hover {
    cursor: pointer;
    background-color: #00b7ff;
    color: black;
    transition: all 0.3s;
}

.fileiraSelecionada:hover {
    cursor: pointer;
}

.imgFileira {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloFileira {
    width: 130px;
    height: 30px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.99vw;
    margin-left: 10px;
}

.exit {
    width: 65px;
    height: 25px;
    margin-top: 100px;
    margin-right: 60px;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.exit:hover {
    cursor: pointer;
}

/* -- AREA PROFESSORES -- */

.areaProfessores {
    margin-left: 230px; 
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
}

.kpi {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AreaDeTrabalhoDiretor {
    margin-top: 50px;
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Fileira {
    height: 300px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 20px;
    flex-wrap: wrap;
}

.Turma {
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 2%;
    text-decoration: none;
    color: #000;
    font-family: 'Rubik';
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    background-color: #c9c9c9;
    box-shadow: 0px 0px 0px 1.5px #565656;
    margin-bottom: 2%;
}

.Turma:hover {
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}

#AreaDeTrabalhoEntrada {
    align-items: center;
    justify-content: space-between;
    height: 660px;
    width: 100%;
}

#div_exibir_turmas {
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}

.cardVermelho {
    background-color: #FF9A9A;
    box-shadow: 0px 0px 0px 1.5px #AE0000;
}

.cardAmarelo {
    background-color: #FFEC83;
    box-shadow: 0px 0px 0px 1.5px #AE7700;
}

.cardVerde {
    background-color: #96FF7C;
    box-shadow: 0px 0px 0px 1.5px #3DAE00;
}

.cardDefault {
    background-color: #c9c9c9;
    box-shadow: 0px 0px 0px 1.5px #000000;
}

.AreaTextoMedia {
    width: 60%;
    /* width: 60%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-family: 'Rubik';
    margin-left: 4%;
    font-weight: bold;
}

.materiaComDificuldade {
    width: 225px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nomeTurma {
    width: 250px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disciplina {
    width: 190px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.imagemLivroDisciplina {
    width: 27%;
    height: 100%;
    background-image: url("../../assets/livro-aberto.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDisciplina {
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.media {
    width: 215px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemPrachetaMedia {
    width: 20%;
    height: 100%;
    background-image: url("../../assets/prancheta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoMedia {
    /* width: 60%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 1.5vw; */
    font-family: 'Rubik';
    margin-left: 4%;
    font-weight: bold;
}

.materiaComDificuldade {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemAlerta {
    width: 20%;
    height: 100%;
    background-image: url("../../assets/imagemAlerta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDificuldade {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.kpiProfessor {
    height: 100px;
    width: 95%;
    border-radius: 20px;
    background: linear-gradient(90deg ,#0790C2,#113768);
    box-shadow: 
    2px 8px 10px 1px rgba(0, 0, 0, 0.29);
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tituloProfessor {
    width: 200px;
    height: 90px;
    font-size: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

.areaUsuario {
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}

.nomeDiretor {
    width: 150px;
    height: 90px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.areaAdicaoPesquisa {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
}

.pesquisa {
    width: 530px;
    height: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloPesquisar {
    width: 100px;
    height: 20px;
}

.barras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barraPesquisa {
    width: 300px;
    height: 30px;
}

.inputPesquisa {
    width: 300px;
    height: 25px;
    border:solid 1px #0790C2;
    border-radius: 10px;
    font-family: 'Rubik';
}

.filtro {
    width: 200px;
    height: 30px;
}

.inputFiltro {
    width: 200px;
    height: 30px;
    border:solid 1px #0790C2;
    border-radius: 10px;
    background-color: #FFF;
    font-family: 'Rubik';
}

.adicionar {
    /* width: 400px; */
    height: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnAdicionar {
    background-color: #068EC2;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 180px;
    font-family: 'Rubik';
    margin-top: 17px;
    transition: all 0.4s;
}

.btnAdicionar:hover {
    cursor: pointer;
    background-color: #00b7ff;
    transition: all 0.4s;
}

.areaProfessoresAdicionados {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardProfessor {
    width: 320px;
    height: 300px;
    border-radius: 20px;
    border:solid 3px #0790C2;
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 
                0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5vw;
}

.fotoProfessor {
    width: 80px;
    height: 80px;
    background-color: #0790C2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nomeProfessor {
    width: 210px;
    height: 30px;
    font-size: 19px;
    font-weight: 550;
    text-align: center;
}

.disciplina {
    width: 215px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.turma {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* -- CADASTRAR PROFESSOR -- */

.bodyCadastro {
    height: 100vh;
}

.areaCadastro {
    margin-left: 230px;
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
}

.containerCadastrarProfessor {
    width: 950px;
    height: 420px;
    border: solid 3px #068EC2;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 95px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.tituloCadastrar {
    width: 700px;
    height: 40px;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.fileiraInput {
    width: 700px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.divisaoInput {
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 17px;
}

.inputCadastrarProfessor {
    width: 320px;
    height: 35px;
    border-radius: 10vw;
    border: none;
    padding: 0.3vw; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #13396A, #0B6395, #078FC1); 
    background-origin: border-box; 
    background-clip: content-box, border-box;
    font-family: 'Rubik';
    padding: 4px;
}

.inputErro {
    width: 320px;
    height: 35px;
    border: none;
    padding: 0.3vw; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #b10303, #b10303, #b10303); 
    background-origin: border-box; 
    background-clip: content-box, border-box;
    font-family: 'Rubik';
    padding: 4px;
}

.selectCadastrarProfessor {
    width: 325px;
    height: 50px;
    background-color: #FFF;
    border-radius: 10vw;
    border: none;
    padding: 0.3vw; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #13396A, #0B6395, #078FC1); 
    background-origin: border-box; 
    background-clip: content-box, border-box;
    font-family: 'Rubik';
    padding: 4px;
}

.selectErro {
    width: 325px;
    height: 50px;
    background-color: #FFF;
    border-radius: 10vw;
    border: none;
    padding: 0.3vw; 
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #b10303, #b10303, #b10303); 
    background-origin: border-box; 
    background-clip: content-box, border-box;
    font-family: 'Rubik';
    padding: 4px;
}

.proximo {
    width: 300px;
    height: 40px;
    background-color: #068EC2;
    border-radius: 25px;
    border: none;
    color: #FFF;
    font-size: 20px;
    transition: all 0.4s;
    font-family: 'Rubik';
}

.proximo:hover {
    cursor: pointer;
    width: 315px;
    background-color: #01425c;
    transition: all 0.4s;
}

/* -- ATRIBUIÇÃO DE TURMAS -- */

.tituloAtribuir {
    font-size: 24px;
}

.selectAtribuir {
    width: 400px;
    height:40px;
    background-color: #FFF;
    border: solid 3px #113768;
    border-radius: 50px;
    font-family: 'Rubik';
}

.containerPainelTurmas {
    width: 500px;
    height: 200px;
    border: solid 3px #068EC2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    gap: 35px;
}

.cardTurma {
    background-color: #0790C2;
    border-radius: 6px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.fechar {
    cursor: pointer;
}

/* -- PERFIL PROFESSOR -- */

.containerPerfil {
    width: 600px;
    height: 400px;
    border: solid 2px #0790C2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin-left: 265px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.nomeEmail {
    width: 430px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.emailProfessor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloInfo {
    width: 120px;
    height: 30px;
    font-weight: 600;
    font-size: 19px;
    margin-right: 230px;
}

.infoProfessor {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fileiraInfo {
    display: flex;
    align-items: center;
}


.editarExcluir {
    width: 100px;
    height: 30px;
    margin-left: 420px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

/* -- DASHBOARD ESCOLA -- */

.indicadores {
    margin-top: 40px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardIndicador {
    border: solid 2px #0790C2;
    border-radius: 15px;
    width: 260px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.tituloIndicador {
    width: 220px;
    height: 40px;
    text-align: center;
}

.conteudoIndicador  {
    width: 255px;
    height: 85px;
    display: flex;
    font-size: 45px;
    align-items: center;
    justify-content: space-evenly;
}

.nivelMedio {
    width: 100px;
    height: 20px;
    font-size: 12px;
    margin-left: 160px;
}

.graficos {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerGrafico {
    width: 48%; 
    height: 450px;
    border: solid 2px #0790C2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.tituloGrafico {
    width: 65%;
    height: 30px;
    text-align: center;
    font-size: 19px;
}

.areaGraficoBarras {
    width: 430px; 
    height: 350px;  
}

.areaGrafico {
    width: 85%; 
    height: 77%; 
    display: flex; 
    justify-content: flex-start;  
    flex-direction: column;
    justify-content: space-evenly;
}

.cabecalho {
    width: 480px;
    height: 28px;
    background-color: #078FC1;
    border: solid 2px #0790C2;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

.areaComparacao {
    width: 480px;
    height: 28px;
    border: solid 2px #0790C2;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.legendaGrafico {
    width: 67%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.modalSuporte {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalSuporte .contentSuporte {
    background: linear-gradient(160deg ,#0790C2,#113768);
    margin: 17% auto; 
    padding: 10px;
    border-radius: 30px;
    width: 30%; 
    height: 24%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
    transition: 0.7s;
}

.contentSuporte:hover{
    transform: scale(1.20);
    transition: 0.7s;
}

.EspacoModalSuporte{
    width: 97%;
    border-radius: 10px;
    height: 3px;
    background-color: #ffffff;
}

.titleSuporte{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rubik';
    font-size: 30px;
    color: #FFF;
}

.iconsModal:hover{
    transition: 0.6s;
    transform: scale(1.15);
}

.iconsModal{
    cursor: pointer;
    transition: 0.6s;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#Insta{
    border-radius: 0px;
}

#google{
    border-radius: 0px;
    width: 65px;
    height: 65px;
}

.Espaco{
    width: 100%;
    height: 380px;
}


/* ALERTAS */
.wrapper {
    display: none;
    position: relative;
    left: 74.65%;
    top: -3%;
}

.base {
    display: none;
    width: 22%;
    height: 450px;
    max-height: 450px; 
    background-color: #F0F0F0;
    overflow-y: auto; 
    overflow-x: hidden;
    color: black;
    position: absolute;
    z-index: 1;
}

.triangle {
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F0F0F0;
    z-index: 2;
}

/* PERSONALIZA A BARRA DE ROLAGEM */
.base::-webkit-scrollbar {
    width: 8px; 
}

.base::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

.base::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

.base::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.alert-box {
    /* border-top: 2px solid #0981B3; */
    border-bottom: 2px solid #0981B3;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    width: 85%;
    box-sizing: border-box;
}

.alert-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.alert-icon {
    font-size: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.alert-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-top: 3.5%;
}

.alert-description {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #333;
}

.square-div {
    width: 25%;
    height: 25%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: solid 2px #0981B3;
}

.alert-box-segund {   
    padding: 10px;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    width: 85%;
    box-sizing: border-box;
}

.triangle {
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F0F0F0;
    z-index: 2;
}