/* -- GERAL -- */

body {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    margin: 0;
    height: 150vh;
}

/* -- MENU LATERAL --  */

.menuLateral {
    width: 230px;
    height: 100vh;
    background: linear-gradient(to bottom, #0790C2, #113768);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    overflow: auto; 
}

.logoEduTech {
    width: 180px;
    height: 88px;
    background-image: url(../../assets/EduTechWhite1\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
}   

.navegacaoTitulo {
    width: 200px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 17px;
    margin-left: 30px;
}

.containerNavegacao {
    width: 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 20px;
}

.professoresTitulo {
    width: 128px;
    height: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgMenuLateral {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.turmasTitulo {
    width: 95px;
    height: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboardsTitulo {
    width: 130px;
    height: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descritoresTitulo {
    width: 126px;
    height: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suporteTitulo {
    width: 100px;
    height: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sair {
    width: 130px;
    height: 40px;
    margin-top: 180px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.imgSair {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.tituloSair {
    width: 100px;
    height: 40px;
    color: #FFF;
    display: flex;
    align-items: center;
}

/* -- AREA PROFESSORES -- */

.areaProfessores {
    margin-left: 230px; 
    width: calc(100% - 230px);
    overflow: auto; 
    display: flex;
    flex-direction: column;
}

.kpi {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kpiProfessor {
    height: 100px;
    width: 95%;
    border-radius: 20px;
    background: linear-gradient(135deg,#0790C2,#489ab8);
    box-shadow: 
    2px 8px 10px 1px rgba(0, 0, 0, 0.29);
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tituloProfessor {
    width: 200px;
    height: 90px;
    font-size: 25px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

.areaUsuario {
    width: 350px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}

.nomeDiretor {
    width: 150px;
    height: 90px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.areaAdicaoPesquisa {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8vh;
}

.pesquisa {
    width: 530px;
    height: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tituloPesquisar {
    width: 100px;
    height: 20px;
}

.barras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barraPesquisa {
    width: 300px;
    height: 30px;
}

.inputPesquisa {
    width: 300px;
    height: 25px;
    border:solid 1px #0790C2;
    border-radius: 10px;
    font-family: 'Rubik';
}

.filtro {
    width: 200px;
    height: 30px;
}

.inputFiltro {
    width: 200px;
    height: 30px;
    border:solid 1px #0790C2;
    border-radius: 10px;
    background-color: #FFF;
    font-family: 'Rubik';
}

.adicionar {
    width: 400px;
    height: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnAdicionar {
    background-color: #068EC2;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 180px;
    font-family: 'Rubik';
    margin-top: 17px;
    transition: all 0.4s;
}

.btnAdicionar:hover {
    cursor: pointer;
    background-color: #00b7ff;
    transition: all 0.4s;
}

.areaProfessoresAdicionados {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fileira {
    width: 90%;
    height: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardProfessor {
    width: 320px;
    height: 300px;
    border-radius: 20px;
    border:solid 3px #0790C2;
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 
                0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.fotoProfessor {
    width: 80px;
    height: 80px;
    background-color: #0790C2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nomeProfessor {
    width: 210px;
    height: 30px;
    font-size: 19px;
    font-weight: 550;
    text-align: center;
}

.disciplina {
    width: 215px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.turma {
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

/* -- CADASTRAR PROFESSOR -- */

.bodyCadastro {
    height: 100vh;
}

.areaCadastro {
    margin-left: 230px;
    width: calc(100% - 230px);
    display: flex;
    flex-direction: column;
}

.containerCadastrarProfessor {
    width: 950px;
    height: 420px;
    border: solid 3px #068EC2;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 95px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.tituloCadastrar {
    width: 700px;
    height: 40px;
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.fileiraInput {
    width: 700px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.divisaoInput {
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 17px;
}

.inputCadastrarProfessor {
    width: 300px;
    height: 35px;
    border: solid 3px #113768;
    border-radius: 50px;
    padding: 10px; 
    font-family: 'Rubik';
}

.selectCadastrarProfessor {
    background-color: #FFF;
    border: solid 3px #113768;
    width: 325px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    font-family: 'Rubik';
}

.proximo {
    width: 300px;
    height: 40px;
    background-color: #068EC2;
    border-radius: 25px;
    border: none;
    color: #FFF;
    font-size: 20px;
    transition: all 0.4s;
}

.proximo:hover {
    cursor: pointer;
    width: 315px;
    background-color: #01425c;
    transition: all 0.4s;
}

/* -- ATRIBUIÇÃO DE TURMAS -- */

.tituloAtribuir {
    font-size: 24px;
}

.selectAtribuir {
    width: 400px;
    height:40px;
    background-color: #FFF;
    border: solid 3px #113768;
    border-radius: 50px;
    font-family: 'Rubik';
}

.containerPainelTurmas {
    width: 500px;
    height: 200px;
    border: solid 3px #068EC2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
}

.cardTurma {
    background-color: #0790C2;
    border-radius: 6px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.fechar {
    cursor: pointer;
}

/* -- PERFIL PROFESSOR -- */

.containerPerfil {
    width: 600px;
    height: 400px;
    border: solid 2px #0790C2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    margin-left: 265px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.nomeEmail {
    width: 430px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.emailProfessor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloInfo {
    width: 120px;
    height: 30px;
    font-weight: 600;
    font-size: 19px;
    margin-right: 230px;
}

.infoProfessor {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fileiraInfo {
    display: flex;
    align-items: center;
}


.editarExcluir {
    width: 100px;
    height: 30px;
    margin-left: 420px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

/* -- DASHBOARD ESCOLA -- */

.indicadores {
    margin-top: 40px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardIndicador {
    border: solid 2px #0790C2;
    border-radius: 15px;
    width: 230px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.tituloIndicador {
    width: 200px;
    height: 40px;
    background-color: red;
}

.conteudoIndicador  {
    width: 200px;
    height: 100px;
    background-color: red;
}

.graficos {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerGrafico {
    width: 45%;
    height: 450px;
    border: solid 2px #0790C2;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}