body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navBarlateral{
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: linear-gradient(160deg ,#0790C2,#113768);
}

.AreaLogo{
    height: 168px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.Logo{
    width: 180px;
    height: 88px;
    background-image: url("../../assets/EduTechWhite1\ 1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.TituloNavegacao{
    width: 175px;
    height: 40px;
    display: flex;
    font-size: 16px;
    font-family: 'Rubik';
    color: rgb(245, 245, 245);
}

.AreaNavegacao{
    width: 80%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Suporte{
    cursor: pointer;
    width: 140px;
    height: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.4s;
    border-radius: 6px;
}

.AreaClick{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Suporte:hover{
    background-color: #18b4ed;
    transition: 0.4s;
}

.AreaTextoSuporte{
    margin-left: 8px;
    width: 91px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Rubik';
    font-size: 16px;
}

.OpcaoArea{
    width: 130px;
    height: 32px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    transition: 0.4s;
    border-radius: 6px;
}

.OpcaoArea:hover{
    background-color: #18b4ed;
    transition: 0.4s;
}

#OpcaoSelecionada{
 border-radius: 6PX;
 background-color: #18b4ed;
}

.IconNavegacao{
    width: 30px;
    height: 30px;
}

.IconNavegacaoFolha{
    width: 24px;
    height: 24px;
    margin-left: 3px;
}

.AreaTextoOpcao{
    width: 91px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: 'Rubik';
}

.title{
    font-family: 'Rubik';
}

.text {
    margin-top: 0;
    font-size: 1.1em;
    display: flex;
    text-align: center;
    font-family: 'Rubik';
}

.modalSuporte {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalSuporte .contentSuporte {
    background: linear-gradient(160deg ,#0790C2,#113768);
    margin: 17% auto; 
    padding: 10px;
    border-radius: 30px;
    width: 30%; 
    height: 24%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
    transition: 0.7s;
}

.contentSuporte:hover{
    transform: scale(1.20);
    transition: 0.7s;
}

.EspacoModalSuporte{
    width: 97%;
    border-radius: 10px;
    height: 3px;
    background-color: #ffffff;
}

.titleSuporte{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rubik';
    font-size: 30px;
    color: #FFF;
}

.iconsModal:hover{
    transition: 0.6s;
    transform: scale(1.15);
}

.iconsModal{
    cursor: pointer;
    transition: 0.6s;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#Insta{
    border-radius: 0px;
}

#google{
    border-radius: 0px;
    width: 65px;
    height: 65px;
}

.Espaco{
    width: 100%;
    height: 380px;
}

.Areadash{
    height: 790px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.AreaKPI{
    margin-left: 222px;
    height: 137px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.KPI{
    height: 100px;
    width: 93.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(90deg ,#0790C2,#113768);
    box-shadow: 
    2px 8px 10px 1px rgba(0, 0, 0, 0.29);
}

.AreaIconLocal{
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.IconLocalSelecionadoKPI{
    width: 40px;
    height: 40px;
}

.AreaDeTrabalho{
    margin-left: 224px;
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
}

.BotaoInterrogacao{
    width: 26px;
    height: 26px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11376800;
}

.BotaoInterrogacao:hover{
    cursor: pointer;
}

.IconAjudaKPI{
    width: 22px;
    height: 22px;
}

.title{
    font-family: 'Rubik';
}

.text {
    margin-top: 0;
    font-size: 1.1em;
    display: flex;
    text-align: center;
    font-family: 'Rubik';
}

.painel {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.painel .content {
    background-color: #D3D3D3;
    margin: 9% auto; 
    padding: 10px;
    border-radius: 30px;
    width: 40%; 
    height: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
    transition: 0.3s;
}

.content:hover{
    transform: scale(1.20);
    transition: 0.7s;
}

.EspacoModal{
    margin-top: 2px;
    width: 97%;
    border-radius: 10px;
    height: 3px;
    background-color: #000;
}

.AreaLegenda{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.AreaTextoLegenda{
    width: 60%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.TextoLegenda{
    font-size: 20px;
    font-family: 'Rubik';
}

#TextoNomeMateria{
    margin-right: 140px;
}

.AreaSinoNotificacao{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.SinoNotificacao{
    height: 35px;
    width: 35px;
}

.AreaEspacoNotificacao{
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.EspacoNotificacao{
    width: 1.6px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFF;
}

.AreaSobreUsuario{
    width: 280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AreaPrincipalFoto{
    width: 56.4px;
    height: 56.4px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AreaSecundariaFoto{
    width: 50px;
    height: 50px;
    background-color: #133f7a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FotoDoUsuario{
    width: 35px;
    height: 35px;
}

.AreaDadosDoUsuario{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: 'Rubik';
}

.NomeDoUsuario{
    color: #FFF;
    font-size: 20px;
    margin-left: 14px;
}

.CargoDoUsuario{
    color: #FFF;
    margin-left: 14px;
}

