body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navBarlateral{
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: linear-gradient(160deg ,#18b4ed,#113768);
}

.AreaLogo{
    height: 168px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo{
    width: 180px;
    height: 88px;
    background-image: url("../../assets/EduTechWhite1\ 1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.TituloNavegacao{
    width: 175px;
    height: 40px;
    display: flex;
    font-size: 20px;
    font-family: 'Rubik';
    color: rgb(245, 245, 245);
}

.AreaNavegacao{
    width: 80%;
    height: 100px;
    background-color: antiquewhite;
}

.Areadash{
    height: 790px;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.AreaKPI{
    margin-left: 222px;
    height: 137px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.KPI{
    height: 100px;
    width: 93.7%;
    border-radius: 20px;
    background: linear-gradient(135deg,#0790C2,#87daf9);
    box-shadow: 
    2px 8px 10px 1px rgba(0, 0, 0, 0.29);
}
