.Dashboards{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.Turma1, .Turma2, .Turma3{
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.Turma1:hover, .Turma2:hover, .Turma3:hover{
   transform: scale(1.15);
   transition: 0.3s;
}

.Turma1{
    height: 300px;
    width: 300px;
    background-color: #FF9A9A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 0px 1.5px #AE0000;
}

.Turma2{
    height: 300px;
    width: 300px;
    background-color: #FFEC83;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 0px 1.5px #AE7700;
}

.Turma3{
    height: 300px;
    width: 300px;
    background-color: #96FF7C;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 0px 1.5px #3DAE00;
}

.nomeTurma {
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disciplina {
    width: 190px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.imagemLivroDisciplina{
    width: 27%;
    height: 100%;
    background-image: url("../../assets/livro-aberto.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDisciplina{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.media{
    width: 215px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemPrachetaMedia{
    width: 20%;
    height: 100%;
    background-image: url("../../assets/prancheta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoMedia{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.materiaComDificuldade{
    width: 225px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemAlerta{
    width: 20%;
    height: 100%;
    background-image: url("../../assets/imagemAlerta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDificuldade{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}