.Dashboards{
    margin-left: 224px;
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.NomeFileira{
    margin: 8px;
    height: 20px;
    width: 95%;
    font-size: 20px;  
    font-family: 'Rubik';  
}

.Fileira{
    height: 300px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: auto;
    border: solid 3px #0790C2;
    border-radius: 20px;
}

.Turma{
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-family: 'Rubik';
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
}

.Turma:hover{
   transform: scale(1.05);
   transition: 0.3s;
}

#Turma1{
    background-color: #FF9A9A;
    box-shadow: 0px 0px 0px 1.5px #AE0000;
}

#Turma2{
    background-color: #FFEC83;
    box-shadow: 0px 0px 0px 1.5px #AE7700;
}

#Turma3{
    background-color: #96FF7C;
    box-shadow: 0px 0px 0px 1.5px #3DAE00;
}

#Turma4{
    background-color: #96FF7C;
    box-shadow: 0px 0px 0px 1.5px #3DAE00;
}

#Turma5{
    background-color: #FF9A9A;
    box-shadow: 0px 0px 0px 1.5px #AE0000;
}

.nomeTurma {
    width: 250px;
    height: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disciplina {
    width: 190px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.imagemLivroDisciplina{
    width: 27%;
    height: 100%;
    background-image: url("../../assets/livro-aberto.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDisciplina{
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.media{
    width: 215px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemPrachetaMedia{
    width: 20%;
    height: 100%;
    background-image: url("../../assets/prancheta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoMedia{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.materiaComDificuldade{
    width: 225px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagemAlerta{
    width: 20%;
    height: 100%;
    background-image: url("../../assets/imagemAlerta.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.AreaTextoDificuldade{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}