.kpi_estado_escola{
    width: 95%;
    height: 10.5vw;
    /* background-color: brown; */
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2.5%;
}


.mostra_estado{
    width: 19.5%;
    height: 90%;
    border: solid 0.2vw #068EC2;
    border-radius: 1.7vw;
    display: flex;
    flex-direction: column;
}

.titulo_estado{
    width: 100%;
    height: 40%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.valor_estado{
    width: 100%;
    height: 54%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 9%;
    
}


.valor_estado img{
  height: 78%;
  margin-right: -8%;
}

.valor_estado span{
    font-size: 300%;
  }

  .mostra_graficos{
    height: 30vw;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .grafico_regiao{
    width: 47%;
    height: 85%;
    /* background-color: darkblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    flex-direction: column;
    border: solid 0.2vw #068EC2;
  }

  .grafico_e_lateral{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    /* background-color: blueviolet; */

  }


  .texto_media_grafico{
    transform: rotate(270deg);
    white-space: nowrap;
    margin-right:5%;
  }

  .grafico{
    width: 80%;
    margin-bottom: -3%;
    margin-right: 5%;
  }

  .grafico_regiao canvas{
    margin-left: -10%;
  
  }

  .ranking_escolas{
    width: 36%;
    height:84%;
    border: solid 0.2vw #068EC2;
    border-radius: 2vw;
  }

  .titulo_ranking{
    width: 100%;
    height: 14%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .titulo_ranking p{
    font-size: 100%;
    margin-top: 6%;
  }

  .lista_ranking{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .school-card {
    display: flex;
    align-items: center;
    border: solid 0.2vw #068EC2;
    border-radius: 2vw;
    padding: 5px 10px;
    width: 86%;
    text-align: center;
    margin: 1.2%;
  
}

.rank {
    background-color: #0790C2;
    color: white;
    border-radius: 50%;
    width: 1.9VW;
    height: 1.9VW;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 5%;
}

.school-name {
    flex-grow: 1;
    color: #333;
}

.score {
    display: flex;
    align-items: center;
    color: #333;
}

.score-icon {
    margin-right: 5px;
}
  
.ver_mais{
  width: 100%;
  height: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 2%;
}