/* -- GERAL -- */

body {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik';
    margin: 0;
    height: 100%;
}

/* -- MENU LATERAL --  */

.menuLateral {
    width: 205px;
    height: 100vh;
    background: linear-gradient(to bottom, #0790C2, #113768);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    overflow: auto; 
}

.logoEduTech {
    width: 180px;
    height: 88px;
    background-image: url(../../assets/EduTechWhite1\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
}   

.navegacaoTitulo {
    width: 130px;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    color: #FFF;
    font-size: 1.2vw;
}

.containerNavegacao {
    width: 205px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fileiraNavegacao {
    width: 205px;
    height: 43px;
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fileiraSelecionada {
    width: 205px;
    height: 43px;
    background-color: #00b7ff;
    color: white;
    transition: all 0.3s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fileiraNavegacao:hover {
    cursor: pointer;
    background-color: #00b7ff;
    color: black;
    transition: all 0.3s;
}

.fileiraSelecionada:hover {
    cursor: pointer;
}

.imgFileira {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloFileira {
    width: 130px;
    height: 30px;
    color: #FFF;
    display: flex;
    align-items: center;
    font-size: 0.99vw;
    margin-left: 10px;
}

.exit {
    width: 65px;
    height: 25px;
    margin-top: 100px;
    margin-right: 60px;
    display: flex;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.exit:hover {
    cursor: pointer;
}

/* -- AREA PROFESSORES -- */

.areaProfessores {
    margin-left: 15vw; 
    width:85vw;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.kpi {
    width: 100%;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.kpiProfessor {
    height: 6.5vw;
    width: 95%;
    border-radius: 1.6vw;
    /* background: linear-gradient(135deg,#0790C2,#87daf9); */
    background: linear-gradient(90deg ,#0790C2,#113768);
    box-shadow: 
    0.2vw 0.8vw 1vw 0.1vw rgba(0, 0, 0, 0.29);
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
     
}

.areaAdicaoPesquisa {
    width: 100%;
    height: 4.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pesquisa {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: chocolate; */
   
}

.tituloPesquisar {
    width: 10vw;
    height: 2vw;
    margin-left: 7%;
    font-size: 0.8vw;
    margin-top: 1.5%;
}

.barras {
    margin-top: -2.9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraPesquisa {
    width: 55%;
    height: 3vw;
    /* background-color: darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputPesquisa {
    width: 75%;
    height: 45%;
    border:solid 0.15vw #0790C2;
    border-radius: 0.5vw;
    font-family: 'Rubik';
}
.botao_pesquisar{
    background-color: #0790C2;
    margin-left: -8.2%;
    height: 48%;
    width: 8%;
    border: none;
    border-radius: 0.2vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.filtro {
    width: 20vw;
    height: 2.3vw;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10%;
}

.inputFiltro {
    width: 60%;
    height: 72%;
    border:solid 0.15vw #0790C2;
    border-radius: 0.5vw;
    background-color: #FFF;
    font-family: 'Rubik';
    margin-left: -9%;
}

.adicionar {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: burlywood; */
    justify-content: flex-end ;
    align-items: center;
    /* margin-right: 5%; */
}

.btnAdicionar {
    background-color: #068EC2;
    color: #FFF;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vw;
    height: 2.5vw;
    width: 36%;
    font-family: 'Rubik';
    transition: all 0.4s;
    margin: 2%;
}

.btnAdicionar:hover {
    cursor: pointer;
    background-color: #00b7ff;
    transition: all 0.4s;
}


.kpi_esquerda{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: white;
   align-items: center;
   margin-left: 5%;
   margin-top: 0.7%;
}

.kpi_direita{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    color: white;
    

    
}

.imgem_kpi{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;

}

.titulo_kpi{
    font-size: 1.8vw;
}


.kpi_direita span{
 font-size: 3vw;
}

.icone_notificacao {
    margin-left: 50%;
    height: 35%;
    margin-right: 2.5%;
    cursor: pointer;
    position: relative; 
}

.bolinha-notificacao {
    position: absolute;
    right: 19.1%;
    top: 11.9%;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none;
}


.icone_usuario{
    margin-left:2.5%;
    border:solid 0.15vw white;
    border-radius: 100%;
    height: 44%;
    width: 7%;
}
.barra_kpi{
    height: 47%;
}

.nome_titulo{
    display: flex;
    align-items: center;
    /* background-color: #113768; */
    height: 100%;
    width: 35%;
    flex-direction: column;
    
}

.kpi_nomeUsuario{
    color: white;
    /* margin-top: 0.5vw; */
    font-size: 1vw;
    margin-top: 20%;
    margin-left: -9%;
    
}

.kpi_descricao{
    color: white;
    margin-top: 0.5vw;
    text-align: center;
    margin-top: -10% ;
    font-size: 0.8vw;
    font-weight: normal;
    margin-right: 5%;
    margin-left: -6%;
}

.cards_escolas{
/* height: 40vw; */
width: 95%;
margin-left: 5%;
/* background-color: yellow; */
display: flex;
flex-direction: row;
align-items: flex-start;
flex-wrap: wrap;

}

.cards{
width: 25%;
height: 50vh;
border: solid 0.2vw #068EC2;
display: flex;
align-items: center;
flex-direction: column;
border-radius: 1.5vw;
margin: 2vw;
box-shadow: 0.3vw 0.3vw 10px rgba(0, 0, 0, 0.2); 
}

.foto_escola{
    /* background-color: red; */
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto_escola img{
    height: 75%;
    width: 100%;
}

.nome_escola{
    width: 100%;
    height: 2vw;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.82vw;
    margin-top: -2.5%;
    
}

.diretor_escola{
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    margin-top: 2%;
}

.regiao_escola{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #113768; */
    font-size: 1.2vw;
    margin-top: 5%;
}
.regiao_escola img{
margin-right: 4%;
}

.media_escola{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #113768; */
    font-size: 1.2vw;
    margin-top: 5%;
}

.OpcaoArea{
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
    border-radius: 6px;
}

.OpcaoArea:hover{
    border-radius: 6px;
    background-color: #18b4ed;
    transition: 0.4s;
}

#OpcaoSelecionada{
 border-radius: 6PX;
 background-color: #18b4ed;
}

.modalSuporte {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalSuporte .contentSuporte {
    background: linear-gradient(160deg ,#0790C2,#113768);
    margin: 17% auto; 
    padding: 10px;
    border-radius: 30px;
    width: 30%; 
    height: 24%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
    transition: 0.7s;
}

.contentSuporte:hover{
    transform: scale(1.20);
    transition: 0.7s;
}

.EspacoModalSuporte{
    width: 97%;
    border-radius: 10px;
    height: 3px;
    background-color: #ffffff;
}

.titleSuporte{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rubik';
    font-size: 30px;
    color: #FFF;
}

.iconsModal:hover{
    transition: 0.6s;
    transform: scale(1.15);
}

.iconsModal{
    cursor: pointer;
    transition: 0.6s;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#Insta{
    border-radius: 0px;
}

#google{
    border-radius: 0px;
    width: 65px;
    height: 65px;
}

/* ALERTAS */
.wrapper {
    display: none;
    position: relative;
    left: 74.65%;
    top: -3%;
}

.base {
    display: none;
    width: 22%;
    height: 450px;
    max-height: 450px; 
    background-color: #F0F0F0;
    overflow-y: auto; 
    overflow-x: hidden;
    color: black;
    position: absolute;
    z-index: 1;
}

.triangle {
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F0F0F0;
    z-index: 2;
}

/* PERSONALIZA A BARRA DE ROLAGEM */
.base::-webkit-scrollbar {
    width: 8px; 
}

.base::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

.base::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

.base::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.alert-box {
    border-top: 2px solid #0981B3;
    border-bottom: 2px solid #0981B3;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    width: 85%;
    box-sizing: border-box;
}

.alert-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.alert-icon {
    font-size: 20px;
    margin-right: 8px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.alert-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-top: 3.5%;
}

.alert-description {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    color: #333;
}

.square-div {
    width: 25%;
    height: 25%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: solid 2px #0981B3;
}

.alert-box-segund {   
    padding: 10px;
    font-family: Arial, sans-serif;
    margin: 10px auto;
    width: 85%;
    box-sizing: border-box;
}

.editarExcluir {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
}